body{
    background-color: rgba(30, 223, 207, 0.822);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(12, 1, 1);
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color:rgb(18, 2, 34)
}
h2{
  font-size: 25px;
  margin-bottom: 15px;
  color:rgb(17, 10, 2)
}

#principal{
    width: 95%;
    margin: auto;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    color: rgb(32, 8, 3);
}

p{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 0;
    color: rgb(10, 14, 2);
}

#secundario{
  font-family: 18px;
    width: 25%;
    text-align: right;
    margin-left: auto;
    color: rgb(1, 5, 5);
}
